.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .content-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 40px;
  }
  
  .image-section {
    flex: 1;
    padding-right: 20px;
  }
  
  .writeup-section {
    flex: 1;
    padding-left: 20px;
  }
  
  .card-section {
    width: 100%;
    text-align: center;
  }
  
  .card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 200px;
    margin: 10px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card h4 {
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 14px;
  }
  

  @media (max-width: 768px) {
    .content-row {
      flex-direction: column;
    }
  
    .image-section, .writeup-section {
      padding: 0;
    }
  }
  